body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

iframe{
    border: 0;
    height: 100%;
    width: 100%;
}

#menu_frame{
    display: none;
    width: 100%;
    height: 100%;
}

#play-container {

    background-image: url("../static/image/game_bcg.png");
    background-size: cover;
    background-position: center;
    /*background: black;*/
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set to 100% viewport height */
}

.button {
    border: 0.2vw solid white;
    padding:0.2em;
    font-size: 3em;
    background-color: #0f5f09;
    color: white;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    white-space: nowrap;
  }

  #button_fsc{

    position: absolute;
    top: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0);
    /*color: #fff;*/
    color:white;

    border: none;
    z-index: 1000;
  }

  .icon {
    filter: invert(100%);
    width: 32px;
    height: 32px;
}

