<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <title>Game menu</title>
    <link rel="stylesheet" href="static/menu.css">


</head>
<body>
    <div class="menu_container">

        <div class="button_container">
            <button id="play_with_bot" class="button" onclick="selectOpponent('bot')">Logical AI</button>
            <button id="play_with_ai" class="button" onclick="selectOpponent('ai')">Deep AI</button>
            <button id="play_with_gpt" class="button" onclick="selectOpponent('gpt')">Open AI GPT3</button>
            <button id="play" class="button" onclick="play()">Play</button>
        </div>

        <div class="opponent-info" id="opponentInfo">
            <img id="opponent-photo">

            <div id="opponent-description"></div>
        </div>
    </div>
<script src="../static/menu.js"></script>
</body>
</html>