<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Title</title>
    <link rel="stylesheet" href="static/start.css">
</head>
<body>



    <button id="button_fsc" data-fullscreen="off">
        <img src="../static/image/fullscreen_icon.svg" alt="Fullscreen" class="icon" style="fill: #FF0000;">
    </button>


    <div id="play-container">
        <button class="button" id="button_fullscreen">Play Texas Hold'em Poker</button>
    </div>

    <div id="menu_frame">
        <iframe src="menu.html"></iframe>
    </div>


    <script src="../static/start.js"></script>

</body>
</html>